@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;900&display=swap');


body {
  font-family: 'Poppins';
  /*position: relative;*/
  margin: 0;
  width: 100%; /* Ancho y alto de toda la pag */ 
  height: 100%;
  color: #47b649; /* Color texto del cuerpo general */ 
  color: #7FBF7F;
  background-color: black; /* Fondo de toda la pag */
}

html {
  width: 100%; /* Ancho y alto de toda la pag */
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Poppins';
  font-weight: 700;
  margin: 0 0 35px; /* Margen de cada seccion la pag */
  letter-spacing: 1px;
  text-transform: uppercase; /* Titulos en mayus */
}

p {
  font-size: 16px; /* Tamanio de texto no titulo */
  line-height: 1.5;
  margin: 0 0 20px;
  /*margin:0;
  text-align: justify;
  text-justify: inter-word;*/
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

a {
  transition: all 0.2s ease-in-out;
  color: #fafafa; /* color mail  */
}

a:focus, a:hover {
  text-decoration: none;
  color: #47b649; /* cambio color mail cuando te paras arriba*/
}

#mainNav {
  font-family: 'Poppins';
  margin-bottom: 0;
  text-transform: uppercase;
  border-bottom: 3px solid rgba(255, 255, 255, 0.5); /* tamanio linea que separa header, color y transparencia */
  background-color: #47b649; /* Fondo del header */
}

#mainNav .navbar-toggler {
  font-size: 15px; /* Tamanio letra menu */
  padding: 10px; /* Tamanio menu */
  color: black; /* Color letra menu */
  border: 2px solid black; /* volor borde menu */
}

#mainNav .navbar-brand {
  font-weight: 700;
}

#mainNav a {
  color: black; /* Color letra dentro menu */
}

#mainNav .navbar-nav .nav-item {
  transition: background 1s ease-in-out; /* Cuanto tiempoo tarda en cambiar el boton del menu que elegis cuando te paras arriba */
}

#mainNav .navbar-nav .nav-item:hover {
  color: fade(white, 100%);
  outline: none;
  background-color: transparent; /* Color del cambio cuando te paras arriba de item de menu*/
}

#mainNav .navbar-nav .nav-item:active, #mainNav .navbar-nav .nav-item:focus {
  outline: none;
  background-color: #47b649;
}

@media (min-width: 992px) {
  #mainNav {
    padding-top: 20px;
    padding-bottom: 20px;
    transition: background 0.3s ease-in-out, padding-top 0.3s ease-in-out, padding-bottom 0.3s;
    letter-spacing: 1px;
    border-bottom: none;
    background: transparent;
  }
  #mainNav.navbar-shrink {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    background: #47b649;
  }
  #mainNav .nav-link.active {
    outline: none;
    background-color: #47b649;
  }
  #mainNav .nav-link/*.active*/:hover { /* saco active para que siempre que pase por arriba cambie de color */
    color: white; /*Cuando te paras arriba del item de menu activo a q color cambia*/
  }
}

header {
  display: table;
  width: 100%; /* ancho de primera seccion */
  height: auto; /* No cambia.. */
  padding: 200px 0;
  text-align: center; /* alineacion texto primera pag */
  color: transparent; /* color texto de primera seccion */
  background: url("../img/section0logo.jpg") no-repeat bottom center scroll; /* imagen fondo */
  background-color: #47b649; /* color fondo primera seccion */
  background-size: cover; /* tamano de imagen */
}

#intro-body {
  display: table-cell;
  vertical-align: middle; /* posicion texto primera seccion */
}
header h1 {
  font-size: 50px; /* Ni idea */
}
header p {
  font-size: 18px;
}

.improve-contrast-box {
  background: rgba(0, 0, 0, 0); /* cajita para resaltar */
  border-radius: 15px;  
  text-shadow: 3px 3px 8px transparent /* rgba(255, 255, 255, 1); /* Color y tamanio de la sombra del texto*/
}

@media (min-width: 768px) {
  header {
    height: 100%; /* Tamaño primera seccion */
    padding: 100;
  }
  header h1 {
    font-size: 100px; /* Tamaño texto titulo primera seccion */
  }
  header p {
    font-size: 22px; /* Tamaño texto titulo primera seccion */
  }
}

/* .btn-circle {  /* Boton que baja primera seccion */
/*  font-size: 31px;
  width: 55px;
  height: 55px;
  margin-top: 20px;
  line-height: 45px;
  transition: background 0.3s ease-in-out;
  color: white;
  border: 3px solid white;
  border-radius: 10% !important; /* 100% lo hace circular al boton este */
/*  background: transparent;
}

.btn-circle:focus, .btn-circle:hover { /* Que le pasa al boton cuando lo tocas */
/*  color: #47b649;
  outline: none;
/*   background: rgba(255, 255, 255, 0.3);  
}     */

.content-section {
  /*padding-top: 100px; /* Margen de cada seccion */
  /*padding-bottom: 100px; */
    /*position: relative;*/
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.section-2 { /* imagen de segunda seccion */
  color: white;
  background-color: #a8a8a8;
  
}

#map {
  width: 100%;
  height: 300px;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  #map {
    height: 350px;
  }
}

.btn {
  font-family: 'Cabin', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 5%;
}

.btn-default {
  color: #42DCA3;
  border: 1px solid #42DCA3;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #42DCA3;
  outline: none;
  background-color: #42DCA3;
}

ul.banner-social-buttons {
  margin-top: 0;
  font-size: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}

footer {
  padding: 50px 0;
}

footer p {
  font-size: 14px;
  margin: 0;
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

.contenedor-imagenes-nosotros {
  display: flex;
}

.contenedor-imagenes-nosotros img {
  width: 70px;
  margin: 5px;
}