@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

html { 
  height: 100%; 
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
  position: relative;
  width: 100%;
  min-height: 100%;
  color: black; 
  background-color: #A0D163;
  font-size: 20px;
}

.content-section {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

@media (min-width: 992px) {
  .content-section {
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

/******* PORTADA ********/

#intro-body {
  height: 200%;
  /* border: 2px solid purple; */
  margin-bottom: -5%;
} 

#sec-ind-0{
  margin:0;
  background-color: lightgrey;
  /* border: 5px solid green; */
}

header {
  position: relative;
  margin-top: -5%;
  height: 20%;
  background-color: transparent;
  }


/* navbar */

#home-img{
  width: 35px;
  height: 38px;
}

#home-img:hover{  
  transition: 0.5s;
}

.nav {
  margin-top: 5px;
  width: 100%;
  background-color: white;
  position: relative;
  /* border: 3px solid hotpink; */
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  font-size: 22px;
  color: #fff;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
  font-size: 18px;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  text-decoration: none;
  color: black;
  font-size: 25px;
}

.nav > .nav-links > a:hover {
  /* background-color: rgba(0, 0, 0, 0.3); */
  color: #78BE21;
  transition: 0.5s;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 2px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    overflow-y: auto;
  }
}

.topnav-centered h1{
  float: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

header .topnav-centered h1{
  color: #919D9D;
  font-weight: 500;
  font-size: 70px;
  margin-top: .2%;
  }

header .topnav-centered span{
  color: #78BE21;
  
}

/***************** SECCION DESCRIPCION SIGLA ***********/

.grid-container {
  display: grid;
  align-content: center;
  height: 100%;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  margin-top: 0px;
  /* border: 1px solid red; */
  margin: auto auto;
  justify-content: space-around;
}

.grid-container .columna{
  /* border: 1px solid black; */
  text-align: center;
  position: relative;
  font-size: 30px;
  width: 300px;
  height: 460px;
}


.grid-container .columna .face {
  width: 300px;
  height: 230px;
  transition: 0.5s;
}

.grid-container .columna .face.face1 {
  position: relative;
  background-color: #A0D163;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(115px);
}

.grid-container .columna:hover .face.face1{
  background-color: #A0D163;
  background-color: darkgrey;
  
  transform: translateY(0px);
}

.grid-container .columna .face.face1 .contenido {
  opacity: 1;
  transition: 0.5s;
}

.grid-container .card:hover .face.face1 .contenido {
  opacity: 1;
}

.grid-container .columna .face.face2 {
  position: relative;
  background: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  /* box-shadow: 0 20px 50px rgba(0,0,0,0.8); */
  transform: translateY(-115px);
}

.grid-container .columna:hover .face.face2{
  transform: translateY(0);
}

.grid-container .columna .face.face2 .contenido p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.grid-container .columna .face.face2 .contenido h3 {
  margin: 0 0 10px 0;
  padding: 0;
 font-size: 24px;
  text-align: center;
  color: #414141;
} 

.grid-container .columna .face.face2 .contenido .container-nosotros .grid-item {
  color: #414141;

}


.quienes-somos-pic {
  border-radius: 70%;
  width: 70px;
  margin: 5px;
  transition: 0.5s;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  margin: 0 0 35px; 
  letter-spacing: 1px;
}

p {
  font-size: 16px; 
  line-height: 1.5;
  margin: 0 0 20px;
}

@media (min-width: 768px) {
  p {
    font-size: 18px;
    line-height: 1.6;
    margin: 0 0 35px;
  }
}

header p {
  font-size: 28px;
}

.improve-contrast-box {
  background: rgba(0, 0, 0, 0); 
  border-radius: 15px;  
  text-shadow: 3px 3px 8px transparent; 
}

@media (min-width: 768px) {
  header {
    height: 100%; 
    padding: 100;
  }
  header h1 {
    font-size: 100px;
  }
  header p {
    font-size: 22px; 
  }
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img {
  width: 150px;
  margin: 5px;
  transition: 0.5s;
}



/**************** Seccion NOSOTROS **********************/

.container-sec-2{
  position: relative;
  margin: 40px;
}

.container-nosotros {
  display: grid;
  grid-template-columns: auto auto;
  /* background-color: #2196F3; */
  padding: 10px;
}

.container-nosotros-seccion {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
  /* border: 1px solid rgba(0, 0, 0, 0.8); */
}

.grid-item {
  padding: 20px;
  position: relative;
  /* border: 1px solid red; */
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

/* Icons nosotros */
.fa {
  transition: all 0.2s ease-in-out;
  color: black;
  font-size: 20px;
}

.fa:hover{
  color: white;

}

.section-2{
  background-color: lightgrey;
  color:black;
}

.section-2 h3{
  color: black;
  font-size: 30px;
  text-transform: capitalize;
}

.section-2 p{
  color:black;
font-size: 20px;

}

.img-descripcion-container {
  position: absolute;
  top: 15%;
  bottom: 15%;
  left: 0;
  right: 0;
  background-color: #A0D163;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity .5s, visibility .2s;
}

.grid-item:hover .img-descripcion-container {
  visibility: visible;
  opacity: .9;
  margin: 20px;
}

.img-descripcion {
  transition: .5s;
  transform: translateY(1em);
  margin: 10px;
}

.grid-item:hover .img-descripcion {
  transform: translateY(0);
}

.profile-pic {
  border-radius: 70%;
}

/*********** seccion lo que hacemos  *****************/
.wrapper {
  height: 100%;
  width: 70%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 30px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 4;
  grid-row: 1;
  border: 2px solid black;
  text-align: left;
  background-color: transparent;
  position: relative;
  
}
.two {
  grid-column: 1;
  grid-row: 2 / 4;
  border: 2px solid black;
  text-align: left;
  background-color: transparent;
  position: relative;
}
.three { 
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  border: 2px solid black;
  text-align: left;
  background-color: transparent;
  position: relative;
}
.four {
  grid-column: 3;
  grid-row: 2 / 4;
  border: 2px solid black;
  text-align: left;
  background-color: transparent;
  position: relative;
}
.five {
  grid-column: 1 / 4;
  grid-row: 4;
  border: 2px solid black;
  text-align: left;
  background-color: transparent;
  position: relative;
}

.btn-icon{
  width: 50px;
  height: 50px;
}

.title{
  position: absolute;
  bottom: 0;
}

.wrapper > div > div > h3{
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: .25em;
  font-size: 23px;
}

.one .grid-hover{
  transform: translateY(-10%) translateX(-1%);
}

.two .grid-hover{
  transform: translateY(-5%) translateX(-3%);
}

.three .grid-hover{
  transform: translateY(-5%) translateX(-3%);
}

.four .grid-hover{
  transform: translateY(-5%) translateX(-3%);
}

.five .grid-hover{
  transform: translateY(-10%) translateX(-1%);
}

.one:hover{
border: 2px dashed black;
}

.two:hover{
  border: 2px dashed black;
}

.three:hover{
  border: 2px dashed black;
}

.four:hover{
  border: 2px dashed black;
}

.five:hover{
  border: 2px dashed black;
}

.grid-hover{
position: absolute;
width: 100%;
height: 100%;
top: 0%;
z-index: 2;
opacity: 0;
text-align: center;
-webkit-transition:all 0.3s ease-in;
-moz-transition:all 0.3s ease-in;
-o-transition:all 0.3s ease-in;
transition:all 0.3s ease-in;
background-color: lightgrey;
border: 2px solid lightgrey;
}

.text{
  margin: 15px;
}

.text p{
  font-size: 21px;
}

.grid-hover:hover{
opacity: 1;

}

/******* seccion contacto ******/

#sec-ind-4{
  background-color: lightgrey;

}

#sec-ind-4 p{
  font-size: 25px;
  color:black;
}

#sec-ind-4 a{
  font-size: 25px;
  color:black;
}

.btn {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 5%;
}

.btn-default {
  color: green;
  border: 1px solid black;
  background-color: transparent;
}

.network-name {
  color: green;
  background-color: transparent;
}



.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #919D9D;
  outline: none;
  background-color: #919D9D;
}

ul.banner-social-buttons {
  margin-top: 0;
  font-size: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}


/* footer*/
.social-footer-container {
  /* border: 2px solid orange; */
  position: absolute;
  left: 0;
  bottom: 0;
  height: 1%;
  width: 100%;
  overflow: hidden;
}

.social-footer{
  position: absolute;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
      text-align: center;
    margin-left: auto;
    margin-right: auto;
    /* border: 2px solid black; */
    bottom: 0;
}


.social-footer h2{
  font-family: 'Handlee';
  margin: 0;
  border: 0px solid black;
  text-transform: lowercase;
  font-size: 20px
}