@import url('https://fonts.googleapis.com/css2?family=Yanone+Kaffeesatz:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');

html { 
  height: 100%; 
}

body {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  margin: 0;
  position: relative;
  width: 100%;
  min-height: 100%;
  color: black; 
  background-color: #A0D163;
  font-size: 20px;
}

.content-section {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/******* PORTADA ********/

#sec-ind-0{
  margin:0;
  background-color: lightgrey;
}

header {
  position: relative;
  margin-top: 0;
  height: 20%;
  background-color: transparent;
  }


/* navbar */

#home-img{
  height: 29px;
  width: 20px;
}

.nav {
  margin-top: 5px;
  width: 510px;
  background-color: white;
  position: relative;
  margin: 5px 5px 5px 5px;
  border-radius: 10px 10px 10px 10px
}

.nav > .nav-header {
  display: inline;
}

.nav > .nav-header > .nav-title {
  display: inline-block;
  color: #fff;
  padding: 5px 5px 5px 5px;
  vertical-align: middle;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  float: right;
}

.nav > .nav-links > a {
  display: inline-block;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  color: black;
  font-size: 20px;
}

.nav > .nav-links > a:hover {
  color: #78BE21;
  transition: 0.5s;
}

.nav > #nav-check {
  display: none;
}

@media (max-width:600px) {

.nav {
  background-color: transparent;
}

.nav > .nav-header > .nav-title {
  background-color: #fff;
  border-radius: 8px;
}
  .nav > .nav-btn {
    display: inline-block;
    position: absolute;
    right: 0px;
    top: 0px;
  }
  .nav > .nav-btn > label {
    display: inline-block;
    width: 50px;
    height: 50px;
    padding: 13px;
  }
  .nav > .nav-btn > label:hover,.nav  #nav-check:checked ~ .nav-btn > label {
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 8px;
  }
  .nav > .nav-btn > label > span {
    display: block;
    width: 25px;
    height: 10px;
    border-top: 3px solid #eee;
  }
  .nav > .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    background-color: white;
    height: 0px;
    transition: all 0.3s ease-in;
    overflow-y: hidden;
    top: 50px;
    left: 0px;
  }
  .nav > .nav-links > a {
    display: block;
    width: 100%;
  }
  .nav > #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(40vh - 50px);
    overflow-y: auto;
    border-radius: 8px;
  }
}


#logo-wrapper{
  width: 450px;
  height: 190px;
  float: none;
  position: absolute;
  top: 3%;
  left: 55%;
  transform: translate(-50%, -50%);
  margin: auto;
}

.logo-sigla{
  position: relative;
  width: 270px;
  margin: 0;
  display: inline-block;
}

.logo-sigla h1{
  color: #919D9D;
  font-weight: 500;
  font-size: 100px;
  margin: 6px;
  }

.logo-sigla .active span{
  color: #78BE21;
}  

.svgCircleI{
  position: absolute;  bottom: 0;
  left: 0;
}

.logo-descripcion {
  vertical-align:top;
  display: inline-block;
  width: 150px;
  margin: 20px 0 20px -15px; 
}
.logo-descripcion p{
	text-align: justify;
  text-align-last: justify;
	display: inline-block;
  margin: 0;
  color: #919D9D;
  font-size: 24px;
}

/* slider */
input.set { display:none; }

#slide1:checked ~ .mask .overflow { margin-left:0; }
#slide2:checked ~ .mask .overflow { margin-left:-100%; }
#slide3:checked ~ .mask .overflow { margin-left:-200%; }
#slide4:checked ~ .mask .overflow { margin-left:-300%; }

#slides { margin:50px auto; width:80%; position:relative; }

#slides .mask { width:90%; overflow:hidden; margin:auto; }

#slides .overflow { width:400%; -webkit-transform:translateZ(0); -webkit-transition:all 0.5s ease-out; -moz-transition:all 0.5s ease-out; -o-transition:all 0.5s ease-out; transition:all 0.5s ease-out; }

#slides .slide { width:25%; height:500px; line-height:200px; float:left; background:transparent; border-radius: 10px 10px 10px 10px }

#center-cropped-1 { width: 100%; height: 500px; background-position: center center; background-repeat: no-repeat; background-size: auto 500px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/v30S7St/daniu-mar.jpg");}

#center-cropped-2 { width: 100%; height: 500px; background-position: center center; background-repeat: no-repeat; background-size: auto 500px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/dBv1Cr5/DSCN4787.jpg");}

/* #center-cropped-3 { width: 100%; height: 500px; background-position: center center; background-repeat: no-repeat; background-size: auto 500px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/wr5twgQ/Curso-UTEC-2020.jpg");} */
#center-cropped-3 { width: 100%; height: 500px; background-position: center center; background-repeat: no-repeat; background-size: auto 500px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/kHDn4nt/mapa.png");}
#center-cropped-4 { width: 100%; height: 500px; background-position: center center; background-repeat: no-repeat; background-size: auto 500px; border-radius: 10px 10px 10px 10px; background-image: url('https://i.ibb.co/gMYTyVX/gis-day.jpg');}

#controls { width:100%; }

#controls label { display:none; width:4%; height:60px; opacity:0.3; position:absolute; top:50%; margin-top:-30px; cursor:pointer; background:transparent; }

#controls label:hover { opacity:0.8; }

.arrow {width:50px; background-color: transparent;}

#slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4) { right:0; display:block; }

#slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2), #slide4:checked ~ #controls label:nth-child(3) { left:0; display:block; }



/***************** SECCION DESCRIPCION SIGLA ***********/

.grid-container {
  display: grid;
  align-content: center;
  height: 100%;
  grid-template-columns: auto auto auto;
  grid-gap: 50px;
  margin-top: 0px;
  margin: auto auto;
  justify-content: space-around;
}

.grid-container .columna{
  text-align: center;
  position: relative;
  font-size: 30px;
  width: 300px;
  height: 460px;
}

.grid-container .columna .face {
  width: 300px;
  height: 230px;
  transition: 0.5s;
  border-radius: 10px 10px 10px 10px
}

.grid-container .columna .face.face1 {
  position: relative;
  background-color: #A0D163;
  background-color: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(115px);
}

.grid-container .columna:hover .face.face1{
  background-color: #A0D163;
  background-color: darkgrey;
  transform: translateY(0px);
  border-radius: 10px 10px 10px 10px
}

.grid-container .columna .face.face1 .contenido {
  opacity: 1;
  transition: 0.5s;
}

.grid-container .card:hover .face.face1 .contenido {
  opacity: 1;
}

.grid-container .columna .face.face2 {
  position: relative;
  background: lightgrey;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  transform: translateY(-115px);
  border-radius: 10px 10px 10px 10px
}

.grid-container .columna:hover .face.face2{
  transform: translateY(0);
}

.grid-container .columna .face.face2 .contenido p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
}

.grid-container .columna .face.face2 .contenido h3 {
  margin: 0 0 10px 0;
  padding: 0;
 font-size: 24px;
  text-align: center;
  color: #414141;
} 

.grid-container .columna .face.face2 .contenido .container-nosotros .grid-item {
  color: #414141;
}

.quienes-somos-pic {
  border-radius: 70%;
  width: 70px;
  height: 70px;
  margin: 5px;
  transition: 0.5s;
}

h2,
h3,
h4,
h5,
h6 {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  margin: 0 0 35px; 
  letter-spacing: 1px;
}

p {
  font-size: 16px; 
  line-height: 1.5;
  margin: 0 0 20px;
}

header p {
  font-size: 28px;
}

.improve-contrast-box {
  background: rgba(0, 0, 0, 0); 
  border-radius: 15px;  
  text-shadow: 3px 3px 8px transparent; 
}

::selection {
  background: #fcfcfc;
  background: rgba(255, 255, 255, 0.2);
  text-shadow: none;
}

img::selection {
  background: transparent;
}

img {
  width: 150px;
  margin: 5px;
  transition: 0.5s;
}



/**************** Seccion NOSOTROS **********************/

.container-sec-2{ position: relative; margin: 20px; }

.container-nosotros {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.container-nosotros-seccion {
  display: grid;
  grid-template-columns: auto auto auto auto;
  padding: 10px;
}

.grid-item {
  position: relative;
  padding: 10px;
  font-size: 30px;
  text-align: center;
}

.flag { width: 30px;}

/* Icons nosotros */
.fab {
  transition: all 0.2s ease-in-out;
  color: black;
  font-size: 20px;
}

.fab:hover{ color: white; }

.section-2{
  background-color: lightgrey;
  color:black;
}

.section-2 a{
  color: black;
  font-size: 25px;
  margin-left: 2px;
  text-transform: capitalize;
}

.section-2 h3{
  color: black;
  font-size: 32px;
  text-transform: capitalize;
}

.section-2 p{
  color:black;
  font-size: 18px;
}

.img-descripcion-container {
  position: absolute;
  top: 15%;
  bottom: 15%; 
  left: 5%;
  right: -5%;
  background-color: #A0D163;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  display: table;
  align-items: center;
  justify-content: center;
  transition: opacity .5s, visibility .2s;
  border-radius: 10px 10px 10px 10px
}

.grid-item:hover .img-descripcion-container {
  visibility: visible;
  opacity: .9;
  margin: 20px;
}

.img-descripcion {
  transition: .5s;
  transform: translateY(1em);
  margin: 10px;
}

.grid-item:hover .img-descripcion {
  transform: translateY(0);
}

.profile-pic {
  border-radius: 90%;
  width: 200px;
  height: 200px;
}

.grid-item a{
  text-decoration:none;
}


/*********** seccion lo que hacemos  *****************/
.wrapper {
  height: 450px;
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one {
  grid-column: 1 / 4;
  grid-row: 1;
  border: 2px solid black;
  text-align: left;
  background-color: transparent;
  position: relative;
  border-radius: 10px 10px 10px 10px
}
.two {
  grid-column: 1;
  grid-row: 2 / 4;
  border: 2px solid black;
  text-align: left;
  background-color: transparent;
  position: relative;
  border-radius: 10px 10px 10px 10px
}
.three { 
  grid-column: 2 / 3;
  grid-row: 2 / 4;
  border: 2px solid black;
  text-align: left;
  background-color: transparent;
  position: relative;
  border-radius: 10px 10px 10px 10px
}
.four {
  grid-column: 3;
  grid-row: 2 / 4;
  border: 2px solid black;
  text-align: left;
  background-color: transparent;
  position: relative;
  border-radius: 10px 10px 10px 10px
}
.five {
  grid-column: 1 / 4;
  grid-row: 4;
  border: 2px solid black;
  text-align: left;
  background-color: transparent;
  position: relative;
  border-radius: 10px 10px 10px 10px
}

.btn-icon{
  width: 45px;
  height: 45px;
}

.title{
  position: absolute;
  bottom: 0;
}

.wrapper > div > div > h3{
  font-weight: bold;
  letter-spacing: 1.5px;
  margin: .25em;
  font-size: 23px;
}

.one .grid-hover{
  transform: translateY(-10%) translateX(-1%);
}

.two .grid-hover{
  transform: translateY(-5%) translateX(-3%);
}

.three .grid-hover{
  transform: translateY(-5%) translateX(-3%);
}

.four .grid-hover{
  transform: translateY(-5%) translateX(-3%);
}

.five .grid-hover{
  transform: translateY(-10%) translateX(-1%);
}

.one:hover{
border: 2px dashed black;
border-radius: 10px 10px 10px 10px
}

.two:hover{
  border: 2px dashed black;
  border-radius: 10px 10px 10px 10px
}

.three:hover{
  border: 2px dashed black;
  border-radius: 10px 10px 10px 10px
}

.four:hover{
  border: 2px dashed black;
  border-radius: 10px 10px 10px 10px
}

.five:hover{
  border: 2px dashed black;
  border-radius: 10px 10px 10px 10px
}

.grid-hover{
position: absolute;
width: 100%;
height: 100%;
top: 0%;
z-index: 2;
opacity: 0;
text-align: center;
-webkit-transition:all 0.3s ease-in;
-moz-transition:all 0.3s ease-in;
-o-transition:all 0.3s ease-in;
transition:all 0.3s ease-in;
background-color: lightgrey;
border: 2px solid lightgrey;
border-radius: 10px 10px 10px 10px
}

.text{
  margin: 15px;
}

.text p{
  font-size: 21px;
}

.grid-hover:hover{
opacity: 1;

}

/******* seccion proyectos ******/
#sec-ind-4{
  background-color: lightgrey;
}

.wrapper-projects {
  height: 450px;
  width: 1000px;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}
.one-project {
  display: flex;
  justify-content: center;
  grid-column: 1/span 1;
  grid-row: 1;
  border: 2px solid black;
  background-color: transparent;
  position: relative;
  border-radius: 10px 10px 10px 10px
}
.two-project {
  display: flex;
  justify-content: center;
  grid-column: 2/span 1;
  grid-row: 1;
  border: 2px solid black;
  background-color: transparent;
  position: relative;
  border-radius: 10px 10px 10px 10px
}
.three-project { 
  display: flex;
  justify-content: center;
  grid-column: 3/span 1;
  grid-row: 1;
  border: 2px solid black;
  background-color: transparent;
  position: relative;
  border-radius: 10px 10px 10px 10px
}

.four-project {
  display: flex;
  justify-content: center;
  grid-column: 4/span 1;
  grid-row: 1;
  border: 2px solid black;
  background-color: transparent;
  position: relative;
  border-radius: 10px 10px 10px 10px
}

.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 2%
}

.wrapper-projects > div > div > h3{
  font-weight: bold;
  font-weight: normal;
  letter-spacing: 1.5px;
  margin: .25em;
  font-size: 23px;
}

.one-project:hover{
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px
}

.two-project:hover{
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px
}

.three-project:hover{
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px
}

.four-project:hover{
  border: 2px solid black;
  border-radius: 10px 10px 10px 10px
}

.wrapper-projects .grid-hover{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  z-index: 2;
  opacity: 0;
  -webkit-transition:all 0.5s ease-in;
  -moz-transition:all 0.5s ease-in;
  -o-transition:all 0.5s ease-in;
  transition:all 0.5s ease-in;
  background-color: white;
  border-radius: 10px 10px 10px 10px
}

.wrapper-projects .grid-hover>*:first-child {
  align-self: stretch;
}
   

.wrapper-projects .text{
  margin: 15px;
}

.wrapper-projects .text p{
  font-size: 21px;
}

.wrapper-projects .grid-hover:hover{
opacity: 1;
transform: rotateX(-90);
transition: 1s;
}

.descripcion-proyectos {
  display: flex;
  flex-direction: column;
  text-align: left;
  margin: 2%;
}

.descripcion-proyectos p {
  font-size: 25px;
}

.descripcion-proyectos h2 {
  font-size: 40px;
  color: #78BE21;
}

.is-embed {
	height: 100%;
	margin-top: -1em;
}
.is-embed iframe {
	width: 50%;
	height: 100%;
	border: 0;
}

/******* seccion contacto ******/

#sec-ind-5{
  background-color: #A0D163;
}

#sec-ind-5 p{
  font-size: 25px;
  color:#414141;
  margin:0
}

#sec-ind-5 a{
  font-size: 25px;
  color:#414141;
}

#sec-ind-5 h2{
  color: #78BE21;
  color: black;
}

#sec-ind-5 a:hover{
  color: #78BE21;
  color: black;
}

#sec-ind-5 img{
  width: 20px;
}

.btn {
  font-family: 'Yanone Kaffeesatz', sans-serif;
  font-weight: 400;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 5%;
}

.btn-default {
  color: #414141;
  border: 1px solid black;
  background-color: transparent;
}

.network-name {
  color: #414141;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: #414141;
  border: 1px solid #919D9D;
  outline: none;
  background-color: #919D9D;
}

ul.banner-social-buttons {
  margin-top: 0;
  font-size: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}


/* footer*/
.social-footer-container {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 120px;
  width: 100%;
  overflow: hidden;
}

.social-footer{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  bottom: 0;
}

.social-footer h2{
  font-family: 'Handlee';
  margin: 0;
  border: 0px solid black;
  text-transform: lowercase;
  font-size: 20px
}

.social-footer p{
  margin: 0;
  border: 0px solid black;
  font-size: 20px
}

.social-footer img{
  width: 20px;
}

/************ RESPONSIVENESS *****************/

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 320px) 
and (max-device-width : 480px) {
  
  /* LOGO */
  #logo-wrapper{ position: relative; width: 360px; height: 150px; top: 5%; margin: 0 auto 0 auto;}
  
  .logo-sigla{ position: relative; width: 200px; height: 100px; margin: 0; }
  
  .logo-sigla h1{ font-size: 79px;  margin: 2px;  }
  
  .logo-descripcion { width: 110px;  margin: 2px 0 2px -1px; }

  .logo-descripcion p{ font-size: 20px; }
  
  /* SLIDER */
  input.set { display:none; }
    
  #slides { margin:20px auto; width:80%; position:relative; }
  
  #slides .mask { width:80%; overflow:hidden; margin:auto; }
  
  #slides .overflow { width:400%; }
  
  #slides .slide { width:25%; height:300px; line-height:200px; float:left; background:transparent; border-radius: 10px 10px 10px 10px }
  
  #center-cropped-1 { width: 100%; height: 300px; background-position: center center; background-repeat: no-repeat; background-size: auto 300px; border-radius: 10px 10px 10px 10px; background-image:url("https://i.ibb.co/v30S7St/daniu-mar.jpg");}
  
  #center-cropped-2 { width: 100%; height: 300px; background-position: center center; background-repeat: no-repeat; background-size: auto 300px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/dBv1Cr5/DSCN4787.jpg");}
  
  /* #center-cropped-3 { width: 100%; height: 300px; background-position: center center; background-repeat: no-repeat; background-size: auto 300px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/wr5twgQ/Curso-UTEC-2020.jpg");} */
  #center-cropped-3 { width: 100%; height: 300px; background-position: center center; background-repeat: no-repeat; background-size: auto 300px; border-radius: 10px 10px 10px 10px; background-image:url("https://i.ibb.co/kHDn4nt/mapa.png");}
  
  #center-cropped-4 { width: 100%; height: 300px; background-position: center center; background-repeat: no-repeat; background-size: auto 300px; border-radius: 10px 10px 10px 10px; background-image: url('https://i.ibb.co/gMYTyVX/gis-day.jpg');}
  
  #controls { width:100%; }
  
  #controls label { display:none; width:2%; height:20px; opacity:0.3; position:absolute; top:50%; margin-top:-30px; cursor:pointer; background:transparent; }
  
  #controls label:hover { opacity:0.8; }
  
  .arrow {width:20px; background-color: transparent;}


  /* SECCION 2 */

  .grid-container { height: 100%; display: grid; grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(3, 120px); grid-gap: 5px; margin: 0 auto;}
  
  .grid-container .columna{ text-align: center; position: relative; font-size: 8px; width: 330px; height: 100px; margin-top:-50px; }
  
  .grid-container .columna .face { width: 330px; height: 120px; border-radius: 2px 2px 2px 2px }
  
  .grid-container .columna .face.face1 { transform: translateY(60px); }
  
  .grid-container .columna:hover .face.face1{ transform: translateY(0px); border-radius: 2px 2px 2px 2px }
  
  .grid-container .columna .face.face2 {padding: 2px; transform: translateY(-60px); border-radius: 2px 2px 2px 2px }
  
  .grid-container .columna:hover .face.face2{ transform: translateY(0); }
  
  .grid-container .columna .face.face2 .contenido p { margin: 0; padding: 0; }
  
  .grid-container .columna .face.face2 .contenido h3 { margin: 0; padding: 0; font-size: 8px; } 

  .grid-container .columna .face.face2 .contenido .container-nosotros {display: grid; grid-template-rows: repeat(1, 1fr); grid-template-columns: repeat(4, 80px);}  

  .quienes-somos-pic { border-radius: 70%; width: 70px; height: 70px; margin: 1px;}

  /* SECCION 3 */
  
  .container-nosotros-seccion { display: grid; grid-template-columns: repeat(2, 50wh); margin:auto }
  
  .container-nosotros-seccion .grid-item { position: relative; height: 250px; width: 180px; padding: 1px; text-align: center; margin:auto; margin-bottom: 10px; }
  
  .container-nosotros-seccion .grid-item .flag { width: 15px; }
  
  .container-nosotros-seccion .grid-item a{ font-size: 18px; margin-left: 2px; }
  
  .container-nosotros-seccion .grid-item h3{ font-size: 18px; letter-spacing: 0.25px }
  
  .section-2 p{ font-size: 15px;}
  
  .img-descripcion-container { top: 20%; bottom: 14%; left: 2.5%; right: 2.5%; transition: opacity .5s, visibility .2s; border-radius: 10px 10px 10px 10px }
  
  .grid-item:hover .img-descripcion-container { opacity: .9; margin: 2px; }
  
  .img-descripcion { transform: translateY(1em); margin: 1px; }
  
  .profile-pic { border-radius: 90%; width: 120px; height: 120px; margin:0; }
 
  /* SECCION 4 */

  .wrapper { height: 450px; width: 340px; grid-gap: 8px; grid-auto-rows: minmax(100px, auto); }

  .btn-icon{ width: 28px; height: 28px;}

  .wrapper > div > div > h3{ font-weight: bold; letter-spacing: 1px; margin: .25em; font-size: 20px; }

  .text{ margin: 3px; }

  .text p{ font-size: 14px; }

  /* SECCION 5 */

  .wrapper-projects { height: 380px; width: 300px; grid-gap: 8px; grid-template-rows: repeat(3, 1fr); grid-template-columns: 1fr;}
  .one-project { grid-column: 1; grid-row: 1/span 1; }
  .two-project { grid-row: 2/span 1;  grid-column: 1;}
  .three-project { grid-row: 3/span 1; grid-column: 1; }
  .four-project {  grid-row: 4/span 1; grid-column: 1;}

  .wrapper-projects .btn{ width: 100px; height: 40px;}

  .wrapper-projects > div > div > h3{ font-weight: bold; letter-spacing: 1px; margin: .25em; font-size: 20px; }

  .title > img { width: 50px; height: 50px; }

  .wrapper-projects .text{ margin: 2px; }

  .wrapper-projects .text p{ font-size: 16px; }
  
  /* FOOTER */
  .social-footer-container { height: 200px; width: 100%; }

  .social-footer p{ margin: 0; font-size: 15px}
  
  .social-footer img{ width: 10px; }


  /* Proyectos  */

  .descripcion-proyectos { display: flex; flex-direction: column; text-align: left; margin: 2%; }
  
  .descripcion-proyectos p { font-size: 18px; }
  
  .descripcion-proyectos h2 { font-size: 22px;  color: #78BE21;}  
}


/* Smartphones (landscape) ----------- */
@media only screen 
and (min-width : 321px) {
  /* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen 
and (max-width : 320px) {
  /* Styles */
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) {
  /* Styles */
}

/* iPads (landscape) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : landscape) {
  /* Styles */
}

/* iPads (portrait) ----------- */
@media only screen 
and (min-device-width : 768px) 
and (max-device-width : 1024px) 
and (orientation : portrait) {


}

/* Desktops and laptops ----------- */
@media only screen 
and (min-width : 1224px) and (max-width : 1823px)  {

    /* NAVBAR */
  #home-img{ height: 25px; width: 20px; }

  .nav { margin-top: 5px; width: 430px; margin: 5px 5px 5px 5px; border-radius: 10px 10px 10px 10px; }

  .nav > .nav-header > .nav-title { padding: 5px 5px 5px 5px; }

  .nav > .nav-links > a { padding: 10px 5px 10px 5px; font-size: 18px; }

    /* ICONO */

  #logo-wrapper{ width: 430px; height: 120px; top: 3.5%; left: 55%; transform: translate(-50%, -50%); margin: auto; border: 0px solid green; }

  .logo-sigla{ width: 230px; margin: 0; }

  .logo-sigla h1{ font-weight: 500; font-size: 85px; margin: 6px;}

  .logo-descripcion { width: 170px; margin: 0 0 0 -15px; }

  .logo-descripcion p{ margin: 0; font-size: 24px; }

    /* slider */

  #slides { margin: 50px auto; width:80%; transform: translate(0, 5%);}

  #slides .slide { width:25%; height:400px; line-height:200px; float:left; background:transparent; border-radius: 10px 10px 10px 10px }

  #center-cropped-1 { width: 100%; height: 400px; background-position: center center; background-repeat: no-repeat; background-size: auto 400px; border-radius: 10px 10px 10px 10px; background-image:url("https://i.ibb.co/v30S7St/daniu-mar.jpg");}

  #center-cropped-2 { width: 100%; height: 400px; background-position: center center; background-repeat: no-repeat; background-size: auto 400px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/dBv1Cr5/DSCN4787.jpg");}

  /* #center-cropped-3 { width: 100%; height: 400px; background-position: center center; background-repeat: no-repeat; background-size: auto 400px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/wr5twgQ/Curso-UTEC-2020.jpg");} */
  #center-cropped-3 { width: 100%; height: 400px; background-position: center center; background-repeat: no-repeat; background-size: auto 400px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/kHDn4nt/mapa.png");}

  #center-cropped-4 { width: 100%; height: 400px; background-position: center center; background-repeat: no-repeat; background-size: auto 400px; border-radius: 10px 10px 10px 10px; background-image: url('https://i.ibb.co/gMYTyVX/gis-day.jpg');}

  #controls { width:100%; }

  #controls label { display:none; width:4%; height:60px; opacity:0.3; position:absolute; top:50%; margin-top:-30px; cursor:pointer; background:transparent; }

  #controls label:hover { opacity:0.8; }

  .arrow {width:50px; background-color: transparent;}

  #slide1:checked ~ #controls label:nth-child(2), #slide2:checked ~ #controls label:nth-child(3), #slide3:checked ~ #controls label:nth-child(4) { right:0; display:block; }

  #slide2:checked ~ #controls label:nth-child(1), #slide3:checked ~ #controls label:nth-child(2), #slide4:checked ~ #controls label:nth-child(3) { left:0; display:block; }

  #slides .mask { width:80%;}

  .arrow {width: 40px; }



}

/* Large screens ----------- */
@media only screen 
and (min-width : 1824px) {
  /* Styles esta es la mia!*/ 
}

/* iPhone 4 - 5s ----------- */
@media
only screen and (-webkit-min-device-pixel-ratio : 1.5),
only screen and (min-device-pixel-ratio : 1.5) {

   /* LOGO */
   #logo-wrapper{ position: relative; width: 320px; height: 130px; top: 10%; margin: 0 auto 0 auto}

   .logo-sigla{ position: relative; width: 200px; height: 100px; margin: 0; }
   
   .logo-sigla h1{ font-size: 79px;  margin: 2px;  }
   
   .logo-descripcion { width: 100px;  margin: 2px 0 2px -35px; }
 
   .logo-descripcion p{ font-size: 15px; }
   
   /* SLIDER */
   input.set { display:none; }
     
   #slides { margin:20px auto; width:80%; position:relative; }
   
   #slides .mask { width: 80%; overflow:hidden; margin:auto; }
   
   #slides .overflow { width: 400%; }
   
   #slides .slide { width:25%; height:200px; line-height:200px; float:left; background:transparent; border-radius: 10px 10px 10px 10px }
   
   #center-cropped-1 { width: 100%; height: 200px; background-position: center center; background-repeat: no-repeat; background-size: auto 200px; border-radius: 10px 10px 10px 10px; background-image:url("https://i.ibb.co/v30S7St/daniu-mar.jpg");}
   
   #center-cropped-2 { width: 100%; height: 200px; background-position: center center; background-repeat: no-repeat; background-size: auto 200px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/dBv1Cr5/DSCN4787.jpg");}

   #center-cropped-3 { width: 100%; height: 200px; background-position: center center; background-repeat: no-repeat; background-size: auto 200px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/kHDn4nt/mapa.png");}
   /* #center-cropped-3 { width: 100%; height: 200px; background-position: center center; background-repeat: no-repeat; background-size: auto 200px; border-radius: 10px 10px 10px 10px; background-image: url("https://i.ibb.co/wr5twgQ/Curso-UTEC-2020.jpg");} */
   
   #center-cropped-4 { width: 100%; height: 200px; background-position: center center; background-repeat: no-repeat; background-size: auto 200px; border-radius: 10px 10px 10px 10px; background-image: url('https://i.ibb.co/gMYTyVX/gis-day.jpg');}
   
   #controls { width:100%; }
   
   #controls label { display:none; width:2%; height:20px; opacity:0.3; position:absolute; top:50%; margin-top:-30px; cursor:pointer; background:transparent; }
   
   #controls label:hover { opacity:0.8; }
   
   .arrow {width:10px; background-color: transparent;}
 
 
   /* SECCION 2 */
 
   .grid-container { height: 100%; display: grid; grid-template-columns: repeat(1, 1fr); grid-template-rows: repeat(3, 80px); grid-gap: 55px; margin: 0 auto;}
   
   .grid-container .columna{ text-align: center; position: relative; font-size: 8px; width: 300px; height: 80px; margin-top:-30px; }
   
   .grid-container .columna .face { width: 300px; height: 80px; border-radius: 2px 2px 2px 2px }
   
   .grid-container .columna .face.face1 { transform: translateY(40px); }
   
   .grid-container .columna:hover .face.face1{ transform: translateY(0px); border-radius: 2px 2px 2px 2px }
   
   .grid-container .columna .face.face2 {padding: 2px; transform: translateY(-40px); border-radius: 2px 2px 2px 2px }
   
   .grid-container .columna:hover .face.face2{ transform: translateY(0); }
   
   .grid-container .columna .face.face2 .contenido p { margin: 0; padding: 0; font-size: 14px}
   
   .grid-container .columna .face.face2 .contenido h3 { margin: 0; padding: 0; font-size: 8px; } 
 
   .grid-container .columna .face.face2 .contenido .container-nosotros {display: grid; grid-template-rows: repeat(1, 1fr); grid-template-columns: repeat(4, 70px);}  
  
   .quienes-somos-pic { border-radius: 70%; width: 65px; height: 65px; margin: 1px;}
 
   /* SECCION 3 */
   
   .container-nosotros-seccion { display: grid; grid-template-columns: auto auto; padding: 2px; margin: 100px -20px}
   
   .container-nosotros-seccion .grid-item { position: relative; height: 200px; width: 150px; padding: 2px; text-align: center; }
   
   .flag { width: 15px; }
   
   .section-2 a{ font-size: 15px; margin-left: 2px;}
   
   .section-2 h3{ font-size: 20px; margin-top: 10px; margin-bottom: 5px;}
   
   .section-2 p{ font-size: 12px;}
   
   .img-descripcion-container { top: 20%; bottom: 14%; left: 2.5%; right: 2.5%; transition: opacity .5s, visibility .2s; border-radius: 10px 10px 10px 10px }
   
   .grid-item:hover .img-descripcion-container { opacity: .9; margin: 2px; }
   
   .img-descripcion { transform: translateY(1em); margin: 1px; }
   
   .profile-pic { border-radius: 90%; width: 110px; height: 110px; margin:0}
  
   /* SECCION 4 */
 
   .wrapper { height: 320px; width: 300px; grid-gap: 8px; grid-auto-rows: minmax(90px, auto); }
 
   .btn-icon{ width: 25px; height: 25px;}
 
   .wrapper > div > div > h3{ font-weight: bold; letter-spacing: 1px; margin: .25em; font-size: 15px; }
 
   .text{ margin: 3px; }
 
   .text p{ font-size: 12px; }
 
   /* CONTACTO Y FOOTER */

   .social-footer-container { height: 220px; width: 100%; }
  
   #sec-ind-5 p{ font-size: 20px; }
  
   #sec-ind-5 a{ font-size: 20px; }
  
   #sec-ind-5 img{ width: 20px; }

  ul.banner-social-buttons { margin-top: 20px; font-size: 0; }
    /* Proyectos  */

    .descripcion-proyectos { display: flex; flex-direction: column; text-align: left; margin: 1.5%; }
  
    .descripcion-proyectos p { font-size: 15px; }
    
    .descripcion-proyectos h2 { font-size: 20px;  color: #78BE21;}  
}

/* iPhone 6 ----------- */
@media
only screen and (max-device-width: 667px) 
only screen and (-webkit-device-pixel-ratio: 2) {
  /* Styles */
}

/* iPhone 6+ ----------- */
@media only screen and (min-device-width : 414px) only screen and (-webkit-device-pixel-ratio: 3) {
  /*** You've spent way too much on a phone ***/
}

/* Samsung Galaxy S7 Edge ----------- */
@media only screen
and (-webkit-min-device-pixel-ratio: 3), 
and (min-resolution: 192dpi) and (max-width:640px) {
 /* Styles */
}
